<h3>Add User</h3>

<form class="form-inline mb-4">
  <form [formGroup]="userForm" (submit)="createUser()" class="form-inline mb-4">
    <label class="sr-only" for="Name">Full Name</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="name" placeholder="name">
    </div>

    <label class="sr-only" for="Gender">Gender</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="gender" placeholder="Gender">
    </div>

    <button type="submit" class="btn btn-primary mb-2">Add User</button>
  </form>