<div class="mt-4">
    <h3>Edit User</h3>
    <form [formGroup]="userForm" (submit)="updateUser()" class="form-inline mb-4">

      <label class="sr-only" for="Name">Full Name</label>
      <div class="input-group mb-2 mr-sm-2">
        <input type="text" class="form-control" formControlName="name" placeholder="Full Name">
      </div>

      <label class="sr-only" for="Address">Gender</label>
      <div class="input-group mb-2 mr-sm-2">
        <input type="text" class="form-control" formControlName="gender" placeholder="Gender">
      </div>

      <button type="submit" class="btn btn-primary mb-2 ml-3 mr-3">Update User</button>

      <button type="button" class="btn btn-primary mb-2" (click)="deleteUser()">Delete User</button>

    </form>
  </div>