<h3>All Users</h3>
<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">Full Name</th>
      <th scope="col">Gender</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5" class="alert alert-danger" *ngIf="error$ | async as error">{{error}}</td>
    </tr>
    <tr>
    <tr *ngFor="let user of (users$ |async)" class="tr-row" [routerLink]="[{ outlets: { aux: ['details'] } }]" (click)="editUser(user)">
      <th scope="row">{{user.name}}</th>
      <td>{{user.gender}}</td>
    </tr>
  </tbody>
</table>